@page "/"

<PageTitle>Home</PageTitle>

 <header class="h inset-x-0 top-0 absolute z-50 flex items-center items-center justify-center">
        <nav class="p-6 flex items-center" aria-label="Global">
            
            
            <div class="gap-x-12 flex">
                <a href="#" class="text-sm/6 text-gray-900 font-semibold">Map</a>
                <a href="#" class="text-sm/6 text-gray-900 font-semibold">Features</a>
                <a href="#" class="text-sm/6 text-gray-900 font-semibold">Marketplace</a>
                <a href="#" class="text-sm/6 text-gray-900 font-semibold">Company</a>
            </div>
            
        </nav>
       
    </header>
